<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Artz</title>

    <!-- Vinculamos la hoja de estilo externa (ej. /static/styles.css) -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="form-page">
        <div class="back-button">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="800px"
              height="800px"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5303 5.46967C10.8232 5.76256
                   10.8232 6.23744 10.5303 6.53033L5.81066
                   11.25H20C20.4142 11.25 20.75 11.5858
                   20.75 12C20.75 12.4142 20.4142 12.75
                   20 12.75H5.81066L10.5303 17.4697C10.8232
                   17.7626 10.8232 18.2374 10.5303
                   18.5303C10.2374 18.8232 9.76256
                   18.8232 9.46967 18.5303L3.46967
                   12.5303C3.17678 12.2374 3.17678
                   11.7626 3.46967 11.4697L9.46967
                   5.46967C9.76256 5.17678 10.2374
                   5.17678 10.5303 5.46967Z"
                fill="#000000"
              />
            </svg>
            <span>Regresar</span>
          </a>
        </div>

        <!-- Form principal -->
        <form
          class="form-container"
          id="main-form"
          method="POST"
          action="/send_request"
          enctype="multipart/form-data"
        >
          <!-- Encabezado -->
          <div class="header">
            <div>
              <p class="form-subtitle">Proveedores</p>
              <h2 class="form-title">
                Solicitud de permisos para actividades operativas
                y/o mantenimiento
              </h2>
              <a class="info-button" href="#">
                Ayuda para tener correctamente la solicitud
              </a>
            </div>
            <div class="id-container">
              <p class="id-title">Folio</p>
              <!-- Se renderiza el folio dinámico -->
              <a class="id-number" href="#">{{ folio }}</a>
            </div>
          </div>

          <!-- Campos de formulario -->
          <div class="input-group">
            <label for="requestDate">Fecha de solicitud</label>
            <input type="date" name="requestDate" required />
          </div>
          <div class="input-group">
            <label for="startDate">Fecha de entrada</label>
            <input type="date" name="startDate" required />
          </div>
          <div class="input-group">
            <label for="startTime">Horario de entrada</label>
            <input type="time" name="startTime" required />
          </div>
          <div class="input-group">
            <label for="endDate">Fecha de salida</label>
            <input type="date" name="endDate" required />
          </div>
          <div class="input-group">
            <label for="endTime">Horario de salida</label>
            <input type="time" name="endTime" required />
          </div>
          <div class="input-group">
            <div class="complex-label">
              <label for="brand" id="label-brand" class="active"
                >Marca - Local</label
              >
              <p class="sublabel" id="label-sublabel">Torre</p>
              <p class="sublabel" id="label-others">Otros</p>
            </div>
            <select name="brand" id="brand-select" required>
              <!-- Se llenará vía script.js -->
            </select>
          </div>
          <div class="input-group">
            <label for="workPeriod"
              >Periodo de trabajos a realizar</label
            >
            <input type="date" name="workPeriod" required />
          </div>
          <div class="input-group">
            <label for="workCategory">Categoría de trabajo</label>
            <select name="workCategory" required>
              <option value="" disabled selected>
                Selecciona una opción
              </option>
              <option value="marketing">Marketing</option>
              <option value="mantenimiento">Mantenimiento</option>
              <option value="estacionamiento">Estacionamiento</option>
              <option value="seguridad">Seguridad</option>
              <option value="cambio_retiro_mercancia">
                Cambio de local y retiro de mercancía
              </option>
              <option value="permisos_horarios_especiales">
                Permisos especiales y horarios especiales
              </option>
              <option value="recepcion_mercancia">
                Recepción de Mercancía, recepción de mobiliario
                y otros
              </option>
              <option value="movimiento_mobiliario">
                Movimiento de mobiliario
              </option>
            </select>
          </div>

          <div class="input-group spacer"></div>

          <!-- Campos para "agregar trabajadores" -->
          <div class="input-group">
            <label for="workerFullName"
              >Nombre y apellidos del trabajador</label
            >
            <input
              type="text"
              name="workerFullName"
              id="workerFullName"
              required
            />
          </div>
          <div class="input-group">
            <label for="managerName">Responsable / trabajador</label>
            <select name="managerName" id="managerName">
              <option value="responsable">Responsable</option>
              <option value="trabajador">Trabajador</option>
            </select>
          </div>
          <div class="input-group">
            <label for="workerId"
              >Número de seguridad del trabajador</label
            >
            <input type="text" name="workerId" id="workerId" />
          </div>
          <div class="input-group">
            <label for="workerMail"
              >Correo del trabajador
              <span class="info-label"
                >(*Obligatorio para el responsable)</span
              ></label
            >
            <input type="email" name="workerMail" id="workerMail" />
          </div>
          <div class="input-group">
            <label for="workerPhone"
              >Teléfono del trabajador
              <span class="info-label"
                >(*Obligatorio para el responsable)</span
              ></label
            >
            <input type="tel" name="workerPhone" id="workerPhone" />
          </div>
          <div class="input-group">
            <!-- Botón que llama a /add_worker con fetch -->
            <a href="#" class="action-button" id="add-worker-btn">
              Agregar
            </a>
          </div>

          <!-- Listado de trabajadores -->
          <div class="input-group mt-1">
            <label>
              <b>Listado de trabajadores</b>
            </label>
            <table id="workers-table">
              <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>No. Seguridad Social</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
              </tr>
            </table>
          </div>

          <div class="input-group spacer"></div>
          <div class="input-group">
            <label for="workDescription">Descripción del trabajo</label>
            <textarea name="workDescription"></textarea>
          </div>
          <div class="input-group input-file">
            <label for="file">
              <span>Subir imágenes</span>
              <div class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M12.5535 2.49392C12.4114 2.33852
                       12.2106 2.25 12 2.25C11.7894 2.25
                       11.5886 2.33852 11.4465 2.49392L7.44648
                       6.86892C7.16698 7.17462 7.18822 7.64902
                       7.49392 7.92852C7.79963 8.20802 8.27402
                       8.18678 8.55352 7.88108L11.25
                       4.9318V16C11.25 16.4142 11.5858
                       16.75 12 16.75C12.4142 16.75
                       12.75 16.4142 12.75 16V4.9318L15.4465
                       7.88108C15.726 8.18678 16.2004
                       8.20802 16.5061 7.92852C16.8118
                       7.64902 16.833 7.17462 16.5535
                       6.86892L12.5535 2.49392Z"
                    fill="#000000"
                  />
                  <path
                    d="M3.75 15C3.75 14.5858 3.41422
                       14.25 3 14.25C2.58579 14.25
                       2.25 14.5858 2.25 15V15.0549C2.24998
                       16.4225 2.24996 17.5248 2.36652
                       18.3918C2.48754 19.2919 2.74643
                       20.0497 3.34835 20.6516C3.95027
                       21.2536 4.70814 21.5125 5.60825
                       21.6335C6.47522 21.75 7.57754
                       21.75 8.94513 21.75H15.0549C16.4225
                       21.75 17.5248 21.75 18.3918
                       21.6335C19.2919 21.5125 20.0497
                       21.2536 20.6517 20.6516C21.2536
                       20.0497 21.5125 19.2919 21.6335
                       18.3918C21.75 17.5248 21.75
                       16.4225 21.75 15.0549V15C21.75
                       14.5858 21.4142 14.25 21
                       14.25C20.5858 14.25 20.25
                       14.5858 20.25 15C20.25 16.4354
                       20.2484 17.4365 20.1469 18.1919C20.0482
                       18.9257 19.8678 19.3142 19.591
                       19.591C19.3142 19.8678 18.9257
                       20.0482 18.1919 20.1469C17.4365
                       20.2484 16.4354 20.25 15
                       20.25H9C7.56459 20.25 6.56347
                       20.2484 5.80812 20.1469C5.07435
                       20.0482 4.68577 19.8678 4.40901
                       19.591C4.13225 19.3142 3.9518
                       18.9257 3.85315 18.1919C3.75159
                       17.4365 3.75 16.4354 3.75
                       15Z"
                    fill="#000000"
                  />
                </svg>
              </div>
            </label>
            <input
              type="file"
              name="file"
              id="file"
              style="display: none;"
            />
          </div>
          <div class="input-group title-section">
            <h3>Datos del proveedor</h3>
          </div>
          <div class="input-group">
            <label for="supplier">Proveedor</label>
            <input type="text" name="supplier" />
          </div>
          <div class="input-group">
            <label for="rfc">RFC / CURP</label>
            <input type="text" name="rfc" />
          </div>
          <!-- Botón que envía todo el formulario a /send_request -->
          <div class="input-group">
            <button type="submit" id="send-request-btn">
              Enviar solicitud
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- JS externo (en /static/script.js) -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
